.dropdown {
  .dropdown-menu {
    display: none;
  }

  &.open {
    .dropdown-menu {
      display: initial;
    }
  }

  & > a {
    font-size: 16px;
    padding-right: 0;
    padding-top: 0;

    &:hover {
      background: transparent;
    }
  }
}

.dropdown-menu {
  left: 38px;
  top: -18px;
}

.dropdown-menu li {
  font-size: 14px;

  &:nth-last-child(2) > a {
    padding-bottom: 0;
  }
}

.dropdown-menu a:hover {
  background: transparent;
}