<template>
  <ux-dialog>
    <ux-dialog-body>
      <div class="row">
        <div class="col-xs-12">
          <strong>Name</strong>
          <span>${developer.name}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>Username</strong>
          <span>${developer.username}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>image</strong>
          <span>${developer.image}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>Provider</strong>
          <span>${developer.provider}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Availability</h3>
          <strong>${developer.availability.name}</strong>
          <em if.bind="!developer.availability">No availability</em>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Experience</h3>
          <strong>${developer.experience_level.name}</strong>
          <em if.bind="!developer.experience_level">No experience level</em>
        </div>
      </div>
      <div class="row">
        <ul class="col-xs-12">
          <li repeat.for="link of developer.links">
            ${link.title}
          </li>
        </ul>
      </div>
    </ux-dialog-body>
    <ux-dialog-footer>
      <button
        if.bind="session.currentUser"
        class="btn btn-success pull-left"
        click.trigger="sendMessage()">Send Message</button>
      <button click.trigger="controller.cancel()">Cancel</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
