<template>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Company</th>
      <th>Type</th>
      <th>Bounty</th>
      <th>Completed?</th>
    </thead>
    <tbody>
      <tr>
        <td><input placeholder="Title" value.bind="titleFilter" /></td>
        <td><input placeholder="Company" value.bind="companyFilter" /></td>
        <td><input placeholder="Type" value.bind="typeFilter" /></td>
        <td></td>
        <td></td>
      </tr>
      <tr repeat.for="listing of displayListings">
        <template if.bind="!listing.isEditing">
          <td>
            <a href="#/listings/details/${listing.id}">${listing.title}</a>
          </td>
          <td>
            <span if.bind="listing.company">
              ${listing.company.name}
            </span>
          </td>
          <td>
            <span if.bind="listing.listing_type">
              ${listing.listing_type.name}
            </span>
          </td>
          <td>
            <span if.bind="listing.listing_type">
              ${listing.address.total_value | usdFormat}
            </span>
          </td>
          <td>
            <checkbox
              if.bind="listing.listing_type"
              value.bind="listing.completed"
              read-only
              title="${listing.completed ? 'Completed' : 'Not yet completed'}"></checkbox>
          </td>
        </template>
      </tr>
    </tbody>
  </table>
  <button if.bind="canAdd" class="btn" click.delegate="openNewListingDialog()">Add new listing</button>
</template>
