<template>
  <require from="resources/two-decimal-format"></require>

  <ul if.bind="paymentRequest" class="unstyled-list">
    <li if.bind="title"><strong>Title:</strong> ${title}</li>
    <li><strong>Status:</strong> ${paymentRequest.completed ? 'Completed' : 'Not Approved'}</li>
    <li><strong>USD Equivalent:</strong> ${value.total | usdFormat}</li>
    <li><strong>Approval URL:</strong> ${paymentRequest.approval_url}</li>
    <li><strong>From:</strong> ${paymentRequest.from_address}</li>
    <li><strong>To:</strong> ${paymentRequest.to_label ? paymentRequest.to_label : paymentRequest.to_address}</li>
  </ul>
</template>
