<template>
  <div class="modal modal--visible">
    <div class="modal__content">
      <div class="row">
        <div class="col-xs-12">
          <strong>Total Amount</strong>
          <span>${value.total | usdFormat}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>Estimated Network Fees</strong>
          <span>${value.networkFeesInCurrency | usdFormat}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" value.bind="toAddress" placeholder="to address" class="form-control" />
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button
        class="btn"
        click.trigger="request()">Request</button>
      <button
        class="btn btn--purple"
        click.trigger="controller.cancel()">Cancel</button>
    </div>
  </div>
</template>
