<template>
  <li class="dropdown ${isOpen ? 'open' : ''}">
    <a class="dropdown-toggle ellipsis" href="#" click.trigger="toggleOpen()">
      <div style="background-image: url('${session.currentUser.image}&amp;s=64'); width: 32px; height: 32px; background-size: contain; display: inline-block;">
      </div>
      <span class="ellipsis pull-right">
        ${session.currentUser.name}
       <b class="caret"></b>
      </span>
      <div class="ripple-wrapper"></div>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="/users/sign_out">
          Sign out
        </a>
      </li>
      <li class="divider"></li>
    </ul>
  </li>
</template>
