<template>
  <li class="dropdown ${isOpen ? 'open' : ''}">
    <a class="dropdown-toggle ellipsis" href="#" click.trigger="toggleOpen()">
      <div class="avatar" style="background-image: url('${session.currentUser.image}&amp;s=64');">
      </div>
      <span class="ellipsis">
        ${session.currentUser.name}
       <b class="caret">&#9660;</b>
      </span>
      <div class="ripple-wrapper"></div>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="/users/sign_out">
          Sign out
        </a>
      </li>
      <li class="divider"></li>
    </ul>
  </li>
</template>
