$dark: #171A20;
$dark-offset: #212025;
$dark-section: #22292F;

$primary: #DB245D;
$light-grey: #ECECEC;
$dark-grey: #3F3F3F;
$error: #E7543C;
$warning: #313131;
$success: #48D476;

$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
